.InputBox, .SelectBox, .TextArea {
	display: flex;
	position: relative;
	flex-direction: column;
	font-size: 0.75rem;
	padding: 0 8px;
}
.InputBox > div > input, .SelectBox > select, .TextArea > textarea {
	appearance: none;
	border: none;
	outline: none;
	width: 100%;
	box-sizing: content-box;
	font: inherit;
	font-size: 1rem;
	padding: 4px 8px;
	margin: 0 -8px;
	border-radius: 2px;
	color: inherit;
	background: var(--color-bg-input-1);
	flex: none;
	transition: background-color 0.15s ease-in-out, outline 0.15s ease-in-out;
}

.InputBox > div > input:not(:read-only):hover, .SelectBox > select:not(:disabled):hover, .TextArea > textarea:not(:read-only):hover {
	background: var(--color-bg-highlight-1);
}

.InputBox > div > input:read-only {
	background: var(--color-bg-disabled-1);
	opacity: 0.8;
}

.InputBox > div > input:focus-visible, .SelectBox > select:focus-visible, .TextArea > textarea:focus-visible {
	outline: 1px solid var(--color-base-0);
}
.SelectBox > select:disabled {
	background: var(--color-bg-disabled-1);
	opacity: 0.8;
}
.relative {
	position: relative;
}

.Checkbox {
	user-select: none;
	margin: 0 5px 0 0;
	vertical-align: middle;
	position: relative;
	bottom: .08em;
	white-space: nowrap;
}

.InputBox > div > input.mixed-content {
	outline: 1px solid yellow;
}
.InputBox > div > input.rejected {
	outline: 1px solid #ff3131;
}

.InputBox > div > button {
	margin-left: 4px;
	padding: 4px;
	line-height: 0;
	margin-right: -8px;
}

.InputSlider-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.InputSlider-container input[type="range"] {
	width: calc(100% + 16px);
	height: 8px;
	-webkit-appearance: none;
	appearance: none;
	padding: 0;
	z-index: 1;
	background: var(--color-bg-input-2);
	border-radius: 2px 2px 0 0;
	outline: none;
	border: none;
}

.InputSlider-container input[type="range"]::-webkit-slider-runnable-track {
	height: 8px;
	background: var(--color-bg-input-2);
	border-radius: 2px 2px 0 0;
}

.InputSlider-container input[type="range"]::-webkit-slider-thumb {
	width: 12px;
	height: 12px;
	-webkit-appearance: none;
	appearance: none;
	background: var(--color-light);
	border-radius: 50%;
	cursor: pointer;
	margin-top: -2px;
	transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.InputSlider-container input[type="range"]:hover::-webkit-slider-thumb {
	transform: scale(1.1);
	box-shadow: 0 0 0 6px var(--color-bg-highlight-2);
}

.InputSlider-container input[type="range"]:active::-webkit-slider-thumb {
	transform: scale(1.25);
	box-shadow: 0 0 0 10px var(--color-bg-highlight-1);
}

.InputSlider-container input[type="range"]::-moz-range-track {
	height: 8px;
	background: var(--color-bg-input-2);
	border-radius: 2px 2px 0 0;
}

.InputSlider-container input[type="range"]::-moz-range-thumb {
	width: 12px;
	height: 12px;
	background: var(--color-light);
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.InputSlider-container input[type="range"]:hover::-moz-range-thumb {
	transform: scale(1.1);
	box-shadow: 0 0 0 6px var(--color-bg-highlight-2);
}

.InputSlider-container input[type="range"]:active::-moz-range-thumb {
	transform: scale(1.25);
	box-shadow: 0 0 0 10px var(--color-bg-highlight-1);
}

.InputSlider-container input[type="range"]::-ms-track {
	width: 100%;
	height: 8px;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

.InputSlider-container input[type="range"]::-ms-fill-lower {
	background: var(--color-bg-input-2);
	border-radius: 5px 5px 0 0;
}

.InputSlider-container input[type="range"]::-ms-fill-upper {
	background: var(--color-bg-input-2);
	border-radius: 2px 2px 0 0;
}

.InputSlider-container input[type="range"]::-ms-thumb {
	width: 12px;
	height: 12px;
	background: var(--color-light);
	border-radius: 50%;
	cursor: pointer;
}

.InputSlider-container input[type="number"] {
	width: 100%;
	margin-top: -1px;
	position: relative;
	z-index: 0;
	text-align: center;
	border: none;
	border-radius: 0 0 2px 2px;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

.InputSlider-container input[type="number"]::-webkit-outer-spin-button,
.InputSlider-container input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.eye-button {
	position: relative;
	margin-top: auto;
	width: 1.891rem;
	height: 1.625rem;
}
.eye-button > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--color-svg-1);
	transform: translate(-50%, -50%);
}
